<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>

    <ion-title>
      <div style="display: flex;">
        <img src="../../assets/_.png" alt="" style="width: 40px;margin-top: 7px;">
        <h6 class="h6-logo">Comunica Escola</h6>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-title>
      <div style="text-align: center;">

        <h4 class="title-page">REMATRICULA</h4>
      </div>
    </ion-title>
  </ion-row>


  <ion-grid class="mural-table">
    <ion-row class="ion-justify-content-center">
      <div style=" width: 100%; text-align: center;">
        <h4 class="title-grey">Formulário de Rematricula</h4>

        <h6 class="subject-body">Preencha os Campos</h6>
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center" >
      <div class="perfil-form">
        <label for="basic-url">Nome do Aluno</label>
        <input type="text">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="perfil-form">
        <label for="">Série atual</label>
        <input type="text"  >

      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center" >
      <div class="perfil-form">
        <label for="basic-url">Nome do Responsável</label>
        <input type="text">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="perfil-form">
        <label for="">RG do Responsávell</label>
        <input type="text"  >

      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="perfil-form">
        <label for="basic-url">Endereço</label>
        <input type="text">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="perfil-form">
        <label for="basic-url">Número</label>
        <input type="text">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="perfil-form">
        <label for="basic-url">Complemento</label>
        <input type="text">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="perfil-form">
        <label for="basic-url">Bairro</label>
        <input type="text">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="perfil-form">
        <label for="basic-url">Cidade</label>
        <input type="text">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="perfil-form">
        <label for="basic-url">UF</label>
        <input type="text">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="perfil-form">
        <label for="basic-url">CEP</label>
        <input type="text">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <h6 style="text-align: center; font-size: 0.8rem;">As informações acima são verdadeiras e autorizo a rematrícula do aluno</h6>

    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button class="btn-success">Enviar Solicitação</ion-button>

    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid style="text-align: center;">
      <ion-col><a class="social" href="https://www.youtube.com/" target="_blank"><ion-icon style="font-size: 2rem; padding: 0px 30px 0px 30px;" name="logo-youtube"></ion-icon></a></ion-col>
      <ion-col><a class="social" href="https://www.facebook.com/" target="_blank">
        <ion-icon style="font-size: 2rem; padding: 0px 30px 0px 30px;" name="logo-facebook"></ion-icon>
      </a></ion-col>
      <ion-col><a class="social" href="https://www.google.com/" target="_blank">
        <ion-icon style="font-size: 2rem; padding: 0px 30px 0px 30px;" name="logo-google"></ion-icon>
      </a></ion-col>
    </ion-grid>
    <ion-grid style="text-align: center; margin-top: -25px;">
      <h6 >Acesso rápido</h6>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
