<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>

    </ion-buttons>

    <ion-title>
      <div style="display: flex;">
        <img src="../../assets/_.png" alt="" style="width: 40px">
        <h6 class="h6-logo">Comunica Escola</h6>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <div class="container">


      <ion-row>
        <ion-col size="4">
          <div class="img">
            <img src="../../../../assets/cab.png" alt="Avatar" class="avatar">
          </div>
        </ion-col>
        <ion-col size="8" class="nome">
          <h3><b style="color: #075d72;">Maria Eduarda</b></h3>
        </ion-col>
        <ion-col size="12">
          <h4 style="margin: 0px;">Ficha Cadastral</h4>
        </ion-col>

      </ion-row>
      <div class="row" style="text-align: left;margin-top: 30px; margin-bottom: -30px;">
        <h6>Dados Acadêmicos</h6>
        <hr style="width: 90%;">
      </div>


      <div class="row">
        <div class="col-12 form-aluno">
          <label for="basic-url">Escola</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Série</label>
        <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Período</label>
        <input type="text">
        </div>
      </div>
      <div class="row" style="text-align: left;margin-top: 30px; margin-bottom: -30px;">
        <h6>Dados da Criança</h6>
        <hr style="width: 90%;">
      </div>
      <div class="row">
        <div class="col-6 form-aluno">
          <label for="basic-url">Nascimento</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Gênero</label>
        <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-aluno">
          <label for="basic-url">Religião</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Documento</label>
        <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-aluno">
          <label for="basic-url">Possui Alergia</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Possui Deficiência</label>
        <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-aluno">
          <label for="basic-url">Responsável Legal</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Telefone Fixo</label>
        <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Celular</label>
        <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-12 form-aluno">
          <label for="basic-url">Em caso de emergência</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Telefone Fixo</label>
        <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Celular</label>
        <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-aluno">
          <label for="basic-url">Possui Convênio</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Tipo Sanguinio</label>
        <input type="text">
        </div>
      </div>
      <div class="row" style="text-align: left;margin-top: 30px; margin-bottom: -30px;">
        <h6>Endereço</h6>
        <hr style="width: 90%;">
      </div>
      <div class="row">
        <div class="col-12 form-aluno">
          <label for="basic-url">Logradouro</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Numero</label>
        <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Complemento</label>
          <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-aluno">
          <label for="basic-url">Bairro</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">CEP</label>
        <input type="text">
        </div>
      </div>
      <div class="row">
        <div class="col-6 form-aluno">
          <label for="basic-url">Cidade</label>
          <input type="text">
        </div>
        <div class="col-6 form-aluno">
          <label for="basic-url">Estado</label>
        <input type="text">
        </div>
      </div>

      <ion-row class="ion-justify-content-center" style="margin-top: 40px; margin-bottom: 30px;">
        <ion-button class="btn-success">Editar Dados</ion-button>
      </ion-row>





  </div>
</ion-content>
