// h6{
//   color: #033f6d !important;
//   font-size: 0.9rem;
//   font-weight: bold;
// }

// h5{
//   color: #000000 !important;
//   font-size: 1.0rem;
//   font-weight: normal;
// }

// h4{
//   // font-family: Arial, Helvetica, sans-serif;
//   font-weight: bold;
//   color: #687484 !important;
// }

// ion-content {
// --background: url('../../../assets/sala-de-aula-vazia-opacity.png') no-repeat center center / cover !important;
// }







.back-side {
  background-position-x: 620px;
  background-position-y: 1320px;
  height: 100%;
  position: absolute;
  z-index: -9999;
  margin: 0px;
  background-color: black;
  filter: opacity(0.2);

  }

  .termo{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    background: rgb(240, 240, 195);
  }

  .toggle{
    position: relative;
    left: 40%;
    ion-toggle{
      position: relative;
    top: -35px;
    }
  }

  .seta{
    position: relative;
    left: 63%;
    top: -12px;
  }



  .perfil-form {
    display: grid;
    width: 90%;
    margin-top: 25px;
}

.perfil-form label {
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.perfil-form input {
    border-radius: 7px;
    height: 40px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;padding-left: 10px;
}

.btn-custon{
  width: 90%;
  border-radius: 12px;
}
